<html>

<head>
    <wicket:link>
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    </wicket:link>
</head>
<body>
<wicket:panel>
    <p>
    <table>
        <tr>
            <td>
                    <ul wicket:id="navigationBorder" class="nav nav-sidebar">
                      <p>
                          <wicket:link>
                              <li><a href="DeleteUser.html">حذف کاربر</a><br/></li>
                              <li ><a href="AddUser.html">ایجاد کاربر جدید</a><br/></li>
                              <li ><a href="ViewUsers.html">نمایش کاربران</a><br/></li>
                              <li ><a href="AddFlight.html">اضافه کردن پرواز جدید</a><br/></li>
                              <li ><a href="ViewFlights.html">نمایش پروازها</a><br/></li>
                              <li  class="active">
                                  <a href="MenuAdmin.html"> بازگشت به منو اصلی</a><br/></li>
                          </wicket:link>
                      </p>
                    </ul>
            </td>
            <td>
                    <ul wicket:id="bodyBorder" class="nav nav-pills">
                    </ul>
            </td>
        </tr>
    </table>
    </p>
</wicket:panel>
</body>
</html>