<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<head>
    <wicket:link>
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    </wicket:link>
</head>
<body>
<h1>جستجو و رزرو پرواز</h1>
<ul wicket:id="userPanel" class="nav nav-sidebar"></ul>

<p>

<div wicket:id="feedback1"></div>
<form wicket:id="form">
    <p>
        <label>مبدا خود را انتخاب کنید </label>
        <br/>
        <select wicket:id="cityOrgin"></select>
    </p>
    <p>
        <label>مقصد خود را انتخاب کنید </label>
        <br/>
    <select wicket:id="cityDestination"></select>
        </p>
    <input type="submit" value="نمایش" />
</form>
</p>
</body>
</html>