<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<head>
    <wicket:link>
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    </wicket:link>
</head>
<body>
<h1>به روز رسانی پرواز</h1>
<ul wicket:id="adminPanel" class="nav nav-sidebar"></ul>
<p>

<p>
<form wicket:id="form">
    <p>
        <label>مبدا خود را انتخاب کنید </label>
        <br/>
        <select wicket:id="org"></select>
    </p>
    <p>
        <label>مقصد خود را انتخاب کنید </label>
        <br/>
    <select wicket:id="dest"></select>
        </p>
    <p>
        <label>خط هوایی </label>
        <br/>
        <select wicket:id="airline"></select>
    </p>
    <p>
        <label>فرودگاه</label>
        <br/>
        <select wicket:id="airport"></select>
    </p>
    <p wicket:id="orginLabel">orgin</p>
    <input wicket:id="flightName" type="text" size="20"/>
    <p wicket:id="destLabel">destination</p>
    <input wicket:id="flightCapacity" type="number" size="20"/>
    <input type="submit" value="به روز رسانی" />
</form>
<span wicket:id="feedback1">feedbackmessages will be put here</span>
</p>
</body>
</html>