<html>
<head>
    <wicket:link>
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    </wicket:link>
</head>
<body>
<h1>Login</h1>

<form wicket:id="form">
    <label wicket:id="username" class="sr-only">Fun Fun Fun</label>
    <input wicket:id="field" type="text" class="form-control" size="40" required autofocus/>
    <label wicket:id="password" class="sr-only">Fun Fun Fun</label>
    <input wicket:id="field1" type="password" class="form-control" size="40"/>
    <button wicket:id="button" type="submit" class="btn btn-primary" size="40">login</button>
</form>
<p wicket:id="message">Fun Fun Fun</p>
</body>
</html>