<html>
<body>
<wicket:border>
    <p>
    <table>
        <tr>
            <td>
                    <span wicket:id="navigationBorder">
                      <p>
                          <wicket:link>
                              <a href="SearchFlight.html"> جستجو و رزرو</a><br/>
                              <a href="MenuUser.html"> بازگشت به منو اصلی</a><br/>

                          </wicket:link>
                      </p>
                    </span>
            </td>
            <td>
                    <span wicket:id="bodyBorder">
                        <wicket:body/>
                    </span>
            </td>
        </tr>
    </table>
    </p>
</wicket:border>
</body>
</html>