<html>
<head>
    <wicket:link>
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    </wicket:link>
</head>
<body>
<wicket:border>
    <p>
    <table>
        <tr>
            <td>
                <ul wicket:id="navigationBorder" class="nav nav-sidebar">
                      <p>
                          <wicket:link>
                              <Li><a href="SearchFlight.html"> جستجو و رزرو</a></Li><br/>
                              <Li> <a href="ViewReserves.html"> نمایش رزرو های کاربر   </a></Li><br/>
                             <Li> <a href="MenuUser.html"> بازگشت به منو اصلی</a></Li><br/>
                             
                          </wicket:link>
                      </p>
                    </ul>
            </td>
            <td>
                <ul wicket:id="bodyBorder" class="nav nav-pills">
                    <wicket:body/>
                </ul>
            </td>
        </tr>
    </table>
    </p>
</wicket:border>
</body>
</html>