<html>
<body>
<wicket:border>
    <p>
    <table>
        <tr>
            <td>
                    <span wicket:id="navigationBorder">
                      <p>
                          <wicket:link>
                              <a href="DeleteUser.html">حذف کاربر</a><br/>
                              <a href="AddUser.html">ایجاد کاربر جدید</a><br/>
                              <a href="ViewUsers.html">نمایش کاربران</a><br/>
                              <a href="AddFlight.html">اضافه کردن پرواز جدید</a><br/>
                              <a href="ViewFlights.html">نمایش پروازها</a><br/>
                              <a href="MenuAdmin.html"> بازگشت به منو اصلی</a><br/>
                          </wicket:link>
                      </p>
                    </span>
            </td>
            <td>
                    <span wicket:id="bodyBorder">
                        <wicket:body/>
                    </span>
            </td>
        </tr>
    </table>
    </p>
</wicket:border>
</body>
</html>