<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<head>
    <title></title>
</head>
<body>
<h1> نمایش پروازها</h1>
<span wicket:id="navomaticBorder1"></span>
<p>

<p>

<form wicket:id="form">
        <span wicket:id="group">
            <table style="border: 2px dotted #fc0; width: 600px; padding: 6px;">
                <tr>
                    <td valign="top">برای رزرو پرواز مورد نظر خود را انتخاب کنید</td>
                    <td>
                        <table cellspacing="0" cellpadding="2">
                            <tr>
                                <td><b>انتخاب</b></td>
                                <td><b> پرواز</b></td>
                                <td><b>مبدا</b></td>
                                <td><b>مقصد</b></td>
                                <td><b>شماره</b></td>
                            </tr>
                            <tr wicket:id="persons">
                                <td><input type="radio" wicket:id="radio"/></td>
                                <td><span wicket:id="name">[this is where name will be]</span></td>
                                <td><span wicket:id="lastName">[this is where lastname will be]</span></td>
                                <td><span wicket:id="id">[this is where id will be]</span></td>
                                <td><span wicket:id="sth">[this is where name will be]</span></td>
                            </tr>
                        </table>
                  <span valign="top">
                  </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="رزرو"/>
                    </td>
                </tr>
            </table>
        </span>
</form>
<span wicket:id="feedback">feedbackmessages will be put here</span>
</p>
</body>
</html>